<div id="wrapper">

    <% include ./sidebar-wrapper %>

    <div class="page-content-wrapper">
        
        <% include ./header %>

        <% include ./productReport %>
        
        <!-- Add product form -->
        <div class="container-fluid table-responsive m-t-50 m-b-50">
            <table id="dataTable" class="table table-light table-striped table-bordered table-hover table-sm mx-8 my-8">
                <thead>
                    <tr>
                        <th class="th-sm text-center" id="sku" scope="col">SKU</th>
                        <th class="th-sm text-center" id="image" scope="col">Image</th>
                        <th class="th-sm text-center" id="product" scope="col">Name</th>
                        <th class="th-sm text-center" id="regPrice" scope="col">Reg. Price</th>
                        <th class="th-sm text-center" id="disPrice" scope="col">Dis. Price</th>
                        <th class="th-sm text-center" id="quantity" scope="col">Quantity</th>
                        <th class="th-sm text-center" id="status" scope="col">Status</th>
                        <th class="th-sm text-center" scope="col">Categories</th>
                        <th class="th-sm text-center" scope="col">Tags</th>
                        <th class="th-sm text-center" id="createdOn" scope="col">Added On</th>
                        <th class="th-sm text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(data) { %>
                    <tr class="mw-100 p-3 text-center">
                        <td class="text-center"><%= data.sku %></td>
                        <td class="h-50 mx-auto my-auto text-center">
                            <!-- <img src='/images/uploads/1547227742454-banner-01.jpg' alt="Image" class="img-fluid img-thumbnail rounded" width="100px"/> -->
                            <img src='<%= data.imageUrl[0] %>' alt="Image" class="img-fluid img-thumbnail rounded" width="100px"/>
                        </td>
                        <td class="text-center"><%= data.name %></td>
                        <td class="text-center"><%= data.regularPrice %></td>
                        <td class="text-center"><%= data.discountPrice %></td>
                        <td class="text-center"><%= data.quantity %></td>
                        <% if(data.status){ %>
                            <td class="text-center"><span class="label label-success" style="background-color:#449d44">Available</span></td>
                        <% } else { %>
                            <td class="text-center"><span class="label label-danger" style="background-color:red">Out of Stock</span></td>
                        <% } %>
                        <td class="text-center"><%= data.categories %></td>
                        <td class="text-center"><%= data.tags %></td>
                        <td class="text-center"><%= data.createdOn.toDateString() %></td>
                        <td class="text-center">
                            <a data-toggle="tooltip" data-placement="top" title="Edit" href="<%= link + data.sku %>" >
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Delete" href="<%= link + data.sku + '?_method=DELETE' %>" onclick="return confirm('Are you sure?')">
                                <i class="fas fa-trash-alt" style="color:red"></i>
                            </a> 
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        
    </div>

</div>
