<div id="wrapper">

    <% include ./sidebar-wrapper %>

    <div class="page-content-wrapper">
        
        <% include ./header %>

        <% include ./orderReport %>

        <!-- Add product form -->
        <div class="container-fluid table-responsive m-t-50 m-b-50">
            <table id="dataTable" class="table table-light table-striped table-bordered table-hover table-sm mx-8 my-8">
                <thead>
                    <tr>
                        <th class="th-sm" id="id" scope="col">ID</th>
                        <th class="th-sm" id="customerID" scope="col">Customer ID</th>
                        <th class="th-sm" id="paymentID" scope="col">Payment ID</th>
                        <th class="th-sm" id="products" scope="col">Products</th>
                        <th class="th-sm" id="value" scope="col">Value</th>
                        <th class="th-sm" id="status" scope="col">Status</th>
                        <th class="th-sm" id="orderDate" scope="col">Order Date</th>
                        <th class="th-sm" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(data) { %>
                    <tr class="mw-100 p-3">
                        <td><%= data.id %></td>
                        <td><%= data.user %></td>
                        <td><%= data.paymentId %></td>
                        <td><%= data.cart.totalQty %></td>
                        <td><%= parseFloat(data.total).toFixed(2) %></td>
                        <% if(data.status){ %>
                            <td><span class="label label-warning">Processing</span></td>
                        <% } else { %>
                            <td><span class="label label-primary">Out for delivery</span></td>
                        <% } %>
                        <td><%= data.orderedDate.toDateString() %></td>
                        <td>
                            <a data-toggle="tooltip" data-placement="top" title="View" href="<%= link + data.id %>" >
                                <i class="far fa-eye"></i>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Delete" href="<%= link + data.id + '?_method=DELETE' %>" onclick="return confirm('Are you sure?')">
                                <i class="fas fa-trash-alt" style="color:red"></i>
                            </a> 
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        
        </div>

    </div>

</div>
