<div id="wrapper">

        <% include ./sidebar-wrapper %>
    
        <div class="page-content-wrapper">
            
            <% include ./header %>
                    <!-- Add product form -->
            <div class="container-fluid m-t-50 m-b-50">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-10 col-sm-12" style="border-radius: 15px; background-color: lightgray">
                        <div class="block mx-4 my-4">
                            
                            <div class="mx-4 my-4 block-title">
                                <h2>
                                    <i class="fa fa-plus"></i>
                                    <strong> Add </strong> New Tag
                                </h2>
                            </div>
                            <div class="block-form">
    
                                <% include ../partials/messages %>
                                <form action="/admin/tags/addTag" method="post">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                    <div class="form-group">
                                        <label class="col-md-auto control-label" for="name"><b>Tag Name</b></label>
                                        <div class="col-md-auto">
                                            <input 
                                                class="form-control text-box"
                                                type="text"
                                                id="name"
                                                name="name"
                                                placeholder="Enter tag name..."
                                            />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-auto">
                                            <button type="submit" class="btn btn-sm btn-primary p-2 mr-2">
                                                <i class="fa fa-floppy-o"></i>
                                                Save
                                            </button>
                                            <button type="reset" class="btn btn-sm btn-warning p-2 mr-2">
                                                <i class="fa fa-repeat"></i>
                                                Reset
                                            </button>
                                        </div>
                                        
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Category View  -->
            <div class="container-fluid table-responsive m-t-50 m-b-50">
                <table id="dataTable" class="table table-light table-striped table-bordered table-hover mx-8 my-8">
                    <thead>
                        <tr>
                            <th class="th-sm" id="name" scope="col">Tag Name</th>
                            <th class="th-sm" id="createdOn" scope="col">Added On</th>
                            <th class="th-sm" scope="col">Updated On</th>
                            <th class="th-sm" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% doc.forEach(function(doc) { %>
                        <tr class="mw-100 p-3">
                            <td><%= doc.name %></td>
                            <td><%= doc.createdOn.toDateString() %></td>
                            <td><%= doc.updatedOn.toDateString() %></td>
                            <td>
                                <a doc-toggle="tooltip" doc-placement="top" title="Edit" href="<%= link + doc.name %>" >
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a doc-toggle="tooltip" doc-placement="top" title="Delete" href="<%= link + doc.name + '?_method=DELETE' %>" onclick="return confirm('Are you sure?')">
                                    <i class="fas fa-trash-alt" style="color:red"></i>
                                </a> 
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            
        </div>
    
    </div>
    