<div id="wrapper">

    <% include ./sidebar-wrapper %>

    <div class="page-content-wrapper">
        
        <% include ./header %>
        
        <!-- Add User form -->
        <div class="container-fluid table-responsive m-t-50 m-b-50">
            <table id="dataTable" class="table table-light table-striped table-bordered table-hover mx-8 my-8">
                <thead>
                    <tr>
                        <th class="th-sm" scope="col">Image</th>
                        <th class="th-sm" id="name" scope="col">Name</th>
                        <th class="th-sm" id="email" scope="col">Email</th>
                        <th class="th-sm" id="phone" scope="col">Phone</th>
                        <th class="th-sm" id="address" scope="col">Address</th>
                        <th class="th-sm" scope="col">Role</th>
                        <th class="th-sm" id="createdOn" scope="col">Added On</th>
                        <th class="th-sm" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% doc.forEach(function(doc) { %>
                    <tr class="mw-100 p-3">
                        <td class="h-50 mx-auto my-auto">
                            <img src="<%= doc.imageUrl %>" alt="Image" class="img-fluid img-thumbnail rounded" width="100px"/>
                        </td>
                        <td><%= doc.name %></td>
                        <td><%= doc.email %></td>
                        <td><%= doc.phone %></td>
                        <td><%= doc.address %></td>
                        <td><%= doc.role %></td>
                        <td><%= doc.createdOn.toDateString() %></td>
                        <td>
                            <a doc-toggle="tooltip" doc-placement="top" title="Edit" href="<%= link + doc.email %>" >
                                <i class="fas fa-edit"></i>
                            </a>
                            <a doc-toggle="tooltip" doc-placement="top" title="Delete" href="<%= link + doc.email + '?_method=DELETE' %>" onclick="return confirm('Are you sure?')">
                                <i class="fas fa-trash-alt" style="color:red"></i>
                            </a> 
                        </td>
                    </tr>
                    <% }); %>
                </tbody>

                
            </table>
        </div>
        
    </div>

</div>
