<section id="features" class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                Featured Products
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                <% products.forEach(function(product) { %>
                    <div class="item-slick2 p-l-15 p-r-15">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-img wrap-pic-w of-hidden pos-relative <% if(product.isSale) { %> block2-labelsale <% } %>">
                                <img src="<%= product.imageUrl[0]%>" alt="IMG-PRODUCT">
    
                                <div class="block2-overlay trans-0-4">
                                    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                    </a>
    
                                    <div class="block2-btn-addcart w-size1 trans-0-4">
                                        <!-- Button -->
                                        <a href="/cart/addToCart/<%= product._id %>" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 btn">
                                            Add to Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="block2-txt p-t-20">
                                <a href="/products/<%= product._id %>/" class="block2-name dis-block s-text3 p-b-5">
                                    <%= product.name %>
                                </a>
        
                                <span class="block2-price m-text6 p-r-5 text-danger">
                                    <% if(product.isSale) { %> <del>$<%= product.regularPrice %></del> $<%= product.discountPrice %> <%} else { %> $<%= product.regularPrice %> <% } %>
                                </span>
                            </div>
                        </div>
                    </div>
                <% }); %>

            </div>
        </div>

    </div>
</section>
