<!-- Header -->
<% include ./partials/header %>

<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/images/heading-pages-01.jpg);">
    <h2 class="l-text2 t-center">
        Shopping Cart
    </h2>
</section>

<!-- Cart -->
<section class="cart bgwhite p-t-70 p-b-100">
    <% if (products) { %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9 table-responsive">
                <table class="table table-light table-striped table-bordered table-hover mx-8 my-8">
                    <thead>
                        <tr class="table-head">
                            <th scope="col" class="th-sm"></th>
                            <th scope="col" class="th-sm">Product</th>
                            <th scope="col" class="th-sm">Price</th>
                            <th scope="col" class="th-sm">Quantity</th>
                            <th scope="col" class="th-sm">Total</th>
                            <th scope="col" class="th-sm">Action</th>
                        </tr>
                    </thead>
                   <tbody>
                    <% products.forEach(function (product) { %>
                        <tr class="table-row">
                            <td>
                                <div class="cart-img-product b-rad-4 o-f-hidden">
                                    <img class="img-fluid" src="<%= product.item.imageUrl[0] %>" alt="IMG-PRODUCT">
                                </div>
                            </td>
                            <td><%= product.item.name %></td>
                            <td>$<%= product.price %></td>
                            <td>
                                <input type="number" name="qty" id="qty" value="<%= product.qty %>">
                            </td>
                            <td>$<%= product.price * product.qty %></td>
                            <td>

                                <a href="" onclick="this.href='/cart/update?id=<%= product.item._id %>&qty=' + document.getElementById('qty').value" class="btn btn-secondary">
                                    Update
                                </a>

                                <a href="/cart/remove/<%= product.item._id %>" class="btn btn-danger">
                                    Remove
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                   </tbody>
                </table>

                

            </div>
            <!-- Total -->
            <div class="col-sm-12 col-md-3 col-lg-3">

                <!--  -->
                <div class="flex-w flex-sb-m p-b-12">
                    <h2 class="d-inline">
                        Subtotal (<%= totalQty %> items):
                    </h2>
                    <h2 class="d-inline text-danger">$<%= totalPrice %></h2>
                </div>

                <div class="size15 trans-0-4">
                    <!-- Button -->
                    <a href='/checkout' class="btn flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                        Proceed to Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                <h2 class="text-center">No Items in Cart</h2>
            </div>
        </div>
    </div>
    <% } %>
</section>

<!-- Footer -->
<% include ./partials/footer %>