<!-- Header -->
<% include ./partials/header %>

<!-- Title Page -->
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(../images/heading-pages-02.jpg);">
    <h2 class="l-text2 t-center">
        Women
    </h2>
    <p class="m-text13 t-center">
        New Arrivals Women Collection 2018
    </p>
</section>


<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <!--  -->
                    <h4 class="m-text14 p-b-7">
                        Categories
                    </h4>

                    <div class="wrap-tags flex-w p-b-54">
                        <% categories.forEach(function(category) { %>
                                <a href="/products/categories?category=<%= category.name %>" class="tag-item s-text13">
                                    <%= category.name %>
                        	</a>
                        <% }); %>
                    </div>

                    <h4 class="m-text14 p-b-7">
                        Tags
                    </h4>

                    <div class="wrap-tags flex-w p-b-54">
                        <% tags.forEach(function(tag) { %>
                                <a href="/products/tags?tag=<%= tag.name %>" class="tag-item s-text13">
                                    <%= tag.name %>
                                </a>
                        <% }); %>
                    </div>

                    <h4 class="m-text14 p-b-7">
                        Colors
                    </h4>

                    <div class="wrap-tags flex-w p-b-54">
                        <% colors.forEach(function(color) { %>
                                <a href="/products/colors?color=<%= color.name %>" class="tag-item s-text13">
                                    <%= color.name %>
                                </a>
                        <% }); %>
                    </div>

                    <h4 class="m-text14 p-b-7">
                        Measurements
                    </h4>

                    <div class="wrap-tags flex-w p-b-54">
                        <% measurements.forEach(function(measure) { %>
                                <a href="/products/measurements?measure=<%= measure.measure %>" class="tag-item s-text13">
                                    <%= measure.measure %>
                                </a>
                        <% }); %>
                    </div>

                    <div class="flex-w p-b-54">
                        <form action="/search" method="POST">
                            <button type="submit"><i class="fas fa-search"></i></button>
                            <input type="text" placeholder="Search.." name="search" class="search-box border p-1"/>
                        </form>
                    </div>
		        </div>
            </div>

            <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                <!--  -->
                <div class="flex-sb-m flex-w p-b-35">
                    <div class="flex-w">

                        <div class="dropdown border p-t-2 p-b-2 p-l-10 p-r-10">
                            <button class="btn shadow p-0 bg-white rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-block">
                                    <h6>Default Sorting</h6>
                            </span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/products?sort=popular">Popular</a>
                                <a class="dropdown-item" href="/products?sort=new">Newest</a>
                                <a class="dropdown-item" href="/products?sort=old">Oldest</a>
                                <a class="dropdown-item" href="/products?sort=ascending">Low To High</a>
                                <a class="dropdown-item" href="/products?sort=descending">High To Low</a>
                            </div>
                        </div>
                            
                        <div class="dropdown m-l-20 border p-t-2 p-b-2 p-l-30 p-r-30">
                            <button class="btn shadow p-0 bg-white rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-block">
                                        <h6>Price</h6>
                                </span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/products?min=0.0&max=50.0">$0.00 - $50.00</a>
                                <a class="dropdown-item" href="/products?min=50.0&max=100.0">$50.00 - $100.00</a>
                                <a class="dropdown-item" href="/products?min=100.0&max=150.0">$100.00 - $150.00</a>
                                <a class="dropdown-item" href="/products?min=150.0&max=200.0">$150.00 - $200.00</a>
                                <a class="dropdown-item" href="/products?min=200.0">$200.00+</a>
                            </div>
                        </div>

                    </div>

                    <span class="s-text8 p-t-5 p-b-5">
                        Showing <%= products.length %> results
                    </span>
                 </div>

                <!-- Product -->
                <div class="row">

                    <% products.forEach(function(product) { %>

                    <div class="col-sm-12 col-md-4 col-lg-3 p-b-50">
                        <!-- Block2 -->
                        <div class="block2">
                            <!-- <div class="block2-img wrap-pic-w of-hidden pos-relative "> -->
                            <div class="block2-img wrap-pic-w of-hidden pos-relative <%if (product.isSale) { %>block2-labelsale <% } else { %> block2-labelnew <% } %>">
                                <img src="<%= product.imageUrl[0] %>" alt="IMG-PRODUCT">
        
                                <div class="block2-overlay trans-0-4">
                                    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                    </a>
        
                                    <div class="block2-btn-addcart w-size1 trans-0-4">
                                        <!-- Button -->
                                        <a href="/cart/addToCart/<%= product._id %>?pageNum=<%=currentPage%>̀&size=12" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4 btn">
                                            Add to Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
        
                            <div class="block2-txt p-t-20">
                                <a href="/products/pid/<%= product._id %>" class="block2-name dis-block s-text3 p-b-5">
                                    <%= product.name %>
                                </a>
        
                                <span class="block2-price m-text6 p-r-5 text-danger">
                                    <% if(product.isSale) { %> <del>$<%= product.regularPrice %></del> $<%= product.discountPrice %> <%} else { %> $<%= product.regularPrice %> <% } %>
                                </span>
                            </div>
                        </div>
                    </div>

                    <% }); %>
                </div>
                
                <!-- Pagination -->
                <div class="pagination flex-m flex-w p-t-26">
                    <% for(var i = 1; i <= pages; i++) { %>
                        <a href="/products?pageNum=<%= i %>&size=12" class="item-pagination flex-c-m trans-0-4"><%= i %></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<% include ./partials/footer %>
